.sidebar{
  width: 100px;
  float: left;
  background-color: aquamarine;
  margin: 6px;
  border: 10px dotted pink;
  padding: 10px;
  box-sizing: border-box;
}
img {
  float: right;
  border-radius: 40%;
  width: 150px;
  height: 100px;
  padding: 5px;
  border: 2px solid black;
}
.column {
  width: 300px;
  float: left;
}
@media screen and (max-width: 768px) {
  body {
    background-color: red;
    color: white;
  }   
}

@media screen and (max-width: 1000px) {
  body {
    background-color: teal;
  }
}